.App-header {
  background-color: #16222d;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vh;
}

.Cars-font-style {
  font-family: 'Times New Roman';
}